@import "main";
.body {
  &__content {
    &__main {
      &__landing {
        &__button-content {
          &#execution {
            &__content {
              &__text {
                width: 100%;
              }
            }
          }
          &__content {
            &__text {

              ul {
                margin-left: -.5em;

                li {
                  list-style-type: none;
                  margin: 2% 0;

                  &:before {
                    content: "\25A0";
                    color: $orange;
                    font-weight: bold;
                    display: inline-block;
                    width: 1em;
                    margin-left: -1em;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}