@import "main";
.body {
  &__content {
    &__main {
      &__landing {
        &__button-content {
          &#execution {
            // wacky ID's
            .body__content__main__landing__button-content__content__text {
              width: 65%;
            }
          }
          &__content {
            &__text {
              img {
                margin-left: -15%;
                width: 122%;
              }
            }
          }
        }
      }
    }
  }
}