@import "main";
.body {
  &__content {
    &__main {
      &__landing {
        &__button-content {
          &__content {
            &__text {
              &--left {
                border-right: none;
              }

              &--right {
                border-left: solid $white 2px;
              }

              img {
                width: 90%;
              }

              ul {
                margin-left: -.5em;

                li {
                  list-style-type: none;
                  margin: 2% 0;

                  &:before {
                    content: "\25A0";
                    color: $orange;
                    font-weight: bold;
                    display: inline-block;
                    width: 1em;
                    margin-left: -1em;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}