@import "main";
.body {
  &__content {
    &__main {
      &__landing {
        &__button-content {
          &__content {
            &__text {
              &--left {
                width: 100%;
                border: none;
              }

              &--proof-left {
                border-right: none;
              }

              &--proof-right {
                border-left: solid $white 2px;
              }

              img {
                width: 90%;
              }
            }
          }
        }
      }
    }
  }
}