@import "main";
.body {
  &__content {
    &__main {
      &__landing {
        &__button-content {
          &__content {
            &--execution {
              overflow-y: hidden;
            }

            &__text {
              &--proof {
                width: 100%;
                border: none;
              }
            }
          }
        }
      }
    }
  }
}