@import "main";
.body {
  &__content {
    &__main {
      &__landing {
        &__button-content {
          &__content {
            &__text {
              width: 33%;

              &__poster {
                width: 100%;
              }

              &--left {
                padding: 0 5% 0 0;
                height: 183.7vh;
              }

              &--middle {
                padding: 0 2.5%;
              }

              &--right {
                border-left: solid $white 2px;
                padding: 0 0 0 5%;
              }

              &--proof {
                width: 65%;
              }

              .img-container {
                margin-bottom: 4%;

                img {
                  width: 100%;
                  margin-top: 1%;
                }

              }
            }
          }
        }
      }
    }
  }
}