@import "main";
.body {
  &__content {
    &__main {
      &__landing {
        &__button-content {
          &__content {
            &__text {
              &__tree {
                width: 48%;
                margin: 1%;
                float: left;
              }

              &__poster {
                width: 100%;
              }

              &--left {
                border-right: none;
              }

              &--right {
                border-left: solid $white 2px;
              }
            }
          }
        }
      }
    }
  }
}