@import "main";
.body {
  &__content {
    &__main {
      &__landing {
        &__button-content {
          &__content {
            &__text {
              .table {
                font-size: 8pt;
                margin-left: -14%;
              }

              img {
                width: 100%;
                margin-top: 4%;
              }
            }
          }
        }
      }
    }
  }
}